html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header {
    height: 20px;
    color: red;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#game-grid {
    flex-grow: 1;
    background-color: rgb(100, 197, 201);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}